@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    /* text-align: -webkit-auto; */
    text-align:center;
}



body{
    /* background-color: #e8ffe6 !important; */
    text-align: center;
    /* font-family: 'Permanent Marker', cursive; */
    display: flex;
    flex-direction: column;
}

h1{
   color:rgb(0, 156, 0)  ;
   font-size: 30px;
}

/* td,th{ */
    /* border: 2px solid black; */
    /* width: 50px;
    height: 30px; */
/* } */

th{
    /* background-color: #e0876a; */
}


table{
    /* background-color: #f9ccac; */
    margin: auto;
    text-align: center;
}

.modal {
    background-color: #e2ffce;
    padding: 10px;
    position: absolute !important;
    top: 10px !important;
    height: 50% !important;
    width: 25% !important;
    text-align: center;
    border-radius: 5px;
}
.modal p{
    font-size: 10px;
}

.modal h6{
    margin:5px;
    font-size: 15px;
}

.modal img{
    width: 100px;
    height: 100%;
}

.modal button{
    border: none;
    margin: 5px;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.actions{
    /* font-family: 'Permanent Marker', cursive; */
    background-color: #b5fb87;
    height: 100%;
    width: 100%;
    border: none; 
    border-radius: 5px;
}

.actions:hover, .add-book:hover{
    background-color: #c8f3d5;
    cursor: pointer;
}

.add-book{
    /* font-family: 'Permanent Marker', cursive; */
    background-color: rgb(15, 216, 15);
    height: 30px;
    width: 120px;
    margin-bottom: 10px !important;
    border-radius: 5px;
    border: none; 
    margin: auto;
}

.close{
    margin-top: 10px;
    background-color: #ff7845;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

.next-page{
    background-color: rgb(15, 216, 15);
    margin-top: 10px;
    margin-inline-start: 15%;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none; 
    /* font-family: 'Permanent Marker', cursive; */
}

.adding{
    display: none;
    position: absolute;
    top: 10%;
    left: 60%;
}

.price{
    height: 15px;
    width: 45px;
}
.name{
    height: 15px;
    width: 70px;
}

.updating{
    display: none;
    position: absolute;
    top: 10%;
    left: 60%;
}

.updating input, .adding input{
    height: 30px;
    width: 100px;
}
.rtl {
    direction: rtl;
    
}

.rtl-font {
    font-family: 'Varela Round', sans-serif;
}

.hide{
    display: block;
}

.lang, .book-sorting{
    margin-bottom: 10px;
    display: inline-block;
    margin-inline-start: 5px;
}